extends layout

block main
  h2=title

block content
  .container
    .row
      .col-sm-8.blog-main
        .blog-post
          h2.blog-post-title #{post.title}
          p.blog-post-meta(dattime=post.created)= h.moment(post.created).format('MMMM Do YYYY, h:mm a')
          |   by   
          a(href=`/author/${post.author.id}/${post.author.name}`) #{post.author.name}
          != post.text
          hr
          if user && post.author.equals(user._id)
          a.button.btn.btn-primary(href=`/posts/${post._id}/edit`) Edit
          hr
      include sidebar
  