extends layout

include mixins/_commentForm
include mixins/_comment

block main
  h2=title

block content
  //-pre=h.dump(post)
  .container
    .row
      .col-sm-8.blog-main
        .blog-post
          h2.blog-post-title #{post.title}
          p.blog-post-meta(dattime=post.created)= h.moment(post.created).format('MMMM Do YYYY, h:mm a')
          |   by   
          a(href=`/author/${post.author.id}/${post.author.name}`) #{post.author.name}
          != post.text
          hr
          if user && post.author.equals(user._id)
          a.button.btn.btn-primary(href=`/posts/${post._id}/edit`) Edit
          hr
          if user
            +commentForm(post)
  
          if post.comments
            .comments
              each comment in post.comments
                .comment
                  +comment(comment)    
      include sidebar
  
