mixin authorPagination(page, pages, count)
  //-pre=h.dump(count)
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/author/${id}/${author}/page/${page - 1}`) Prev
    .pagination__text
      p Page #{page} of #{pages} — #{count} total results
    .pagination__next
      if page < pages
        a(href=`/author/${id}/${author}/page/${parseFloat(page) + 1}`) Next