//- mixin postPagination(page, pages, count)
//-   //-pre=h.dump(count)
//-   .pagination
//-     .pagination__prev
//-       if page > 1
//-         a(href=`/posts/page/${page - 1}`) Prev
//-     .pagination__text
//-       p Page #{page} of #{pages} — #{count} total results
//-     .pagination__next
//-       if page < pages
//-         a(href=`/posts/page/${parseFloat(page) + 1}`) Next



mixin postPagination(page, pages, count)
  pre=h.dump(pages)
  nav(aria-label='Page navigation')
    ul.pagination
      li
        a(href='#', aria-label='Previous')
          span(aria-hidden='true') «
      
      - for (var p = 1; p <= pages; p++) {         
          if page == p
            - clas= 'active'
          else
            - clas= 'no'  
          li(class=clas)
            a(href=`/posts/page/${p}`)=p
      - }  
      li
        a(href=`/posts/page/${p}`, aria-label='Next')
          span(aria-hidden='true') »
      

//- mixin postPagination(page, pages, count)
//-   nav(aria-label='Page navigation')  
//-     - if (pages > 1)
//-       ul.pagination
//-         != createPagination(pages, page)