mixin postPagination(page, pages, count)
  //-pre=h.dump(page)
  nav(aria-label='Page navigation')
    ul.pagination      
      if page > 1  
        li
          a(href=`/posts/page/${page - 1}`, aria-label='Previous')
            span(aria-hidden='true') «
      
      - for (var p = 1; p <= pages; p++) {         
          if page == p
            - active= 'active'
          else
            - active= ''  
          li(class=active)
            a(href=`/posts/page/${p}`)=p
      - }

      if page < pages  
        li
          a(href=`/posts/page/${parseFloat(page) + 1}`, aria-label='Next')
            span(aria-hidden='true') »
    p Page #{page} of #{pages} — #{count} total results      