mixin postForm(post = {})
  //-pre=h.dump(post)
  form(action=`/add/${post._id || ''}` method='POST')
    .form-group    
      label(for='title') Title
      input.form-control(type='text' name='title' placeholder='Enter Title' value=post.title)
    - const categories = ['Tech', 'Business', 'Health', 'Science']
    .form-group
      label(for='category') Choose Category      
      select.form-control(name='category')
        option=post.category  
        each category in categories
          option=(category)
    .form-group
      label(for='text') Text
      textarea.form-control(name='text' id='text')= post.text
    button.btn.btn-primary(type='submit') Publish
    script(src='//cdn.ckeditor.com/4.7.0/full/ckeditor.js')
    script
      | CKEDITOR.replace('text')